/*Horizontal Example*/
body {
	background-color: LightGrey;
}

h1 {
	font-size: 32px;
	text-align: center;
}
	
h2	{	
	color: DarkBlue;
	font-size: 20px;
	text-align: left;
	margin-left: 25px;
	margin-right: 25px
}

h3	{
	color: Navy;
	font-size: 18px;
	margin-left: 25px;
	margin-right: 25px;
}	

h4 {
	color: white;
	font-size: 18px;
	margin-left: 25px;
	margin-right: 25px
}

p { font-size:16px;
	margin-left: 25px;
	margin-right: 25px;
}

form{
	font-size:16px;
	margin-left: 25px;
	margin-right: 25px;	
}
.navbar {
    float: center;
    background-color: blue;
    word-spacing: 90px;
    display: block;
    color: blue;
    text-align: left;
    padding: 7px 7px 7px 300px;
    text-decoration: none;
    font-family: verdana;
    font-size: 16px;
    font-weight: bold;
		margin-bottom:  0;
	
}	
.active {
  background-color: #48ad4b; 
}

.navbar a:visited {color: rgb(63, 60, 60);}
.navbar a:link {color: white;}
.navbar a:hover {
  background-color: rgb(102, 82, 82);
  padding: 7px 3px;
  transition: all 0.5s ease; 
  color: white;

}
.navbar a:link {text-decoration: none;}

header {		
	width: 100%;
	padding: .03;
	color: white;
	background-color: black;
	text-align: center;
}
	
#contents {
	background-color: rgb(214, 245, 245);
	min-height: 50%;
	font-family: verdana;
	margin-left: 75px;
	margin-right: 75px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 16px;
	
}
	
#facultyinfo img {
	width:150px; height:150px;
	margin-left: 25px;
	margin-right: 25px
}

#facultyinfo {
	background-color: rgb(214, 245, 245);
	margin-left: 75px;
	margin-right: 75px;
	border-left: 1px;
	padding-top: 10px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 25px;
	font-size: 18px;
	font-family: verdana;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px
  }

#footer {
	padding: .25px;
	color: white;
	background-color: black;
	text-align: center;
	position: absolute;
	width: 100%;
		
}
#undergraduatecourses {
	display: none;
}
#graduatecourses {
	display: none;
}
#uEligibilityMessage {
	color: blue;
}
#gEligibilityMessage {
	color: blue;
}

